
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@500&display=swap" );
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@500&family=Rubik+Distressed&display=swap");

.container-principal-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}


.container-home{
    height: 80vh;
    width: 100vw;
    background-image: url('../../images/Circular.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
    color: black;
    /* background-color: blue; */
}

.img-muñeco{
    max-width: 30%;
    height: auto;
    /* background-image: url('../../images/muñeco.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* opacity: 0.5; */
}

.saludo{

    display: flex;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    opacity: 0.3;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
}

.descripcion-uno{
    color: #4D2DB7;
    font-size: 25px;
    text-align: justify;
}

@media (max-width: 768px) {
    img {
      max-width: 90%;
    }
  }
  
  /* Pantallas medianas */
  @media (min-width: 769px) and (max-width: 1024px) {
    img {
      max-width: 80%;
    }
  }
  
  /* Pantallas grandes */
  @media (min-width: 1025px) {
    img {
      max-width: 100%;
    }
  }