@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* 'https://fonts.googleapis.com/css2?family=Roboto&display=swap' */
.mainAnim {
    text-transform: uppercase;
    font-size:4vw;
    font-family: 'Press Start 2P' !important;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.hero-box {
    overflow: hidden;  
}

/* .hero-content-1{
    animation: content-animation 4s 1 ease ;
    animation-fill-mode: forwards; 
    visibility: hidden;   
    opacity: 0.2 ;
} */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-name {
    /* font-size: 80px; */
    color: white;
    /* transform: rotateX(15deg); */
    /* text-shadow: 3px 3px 5px rgb(255, 255, 255); */
    text-shadow: 0.2vw 0.2vw 0.6vw rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 0.2vw black; 
    /* -webkit-text-stroke: 2px black;  */
    /* transform: skew(-10deg, 0deg);  */
}

/* @keyframes content-animation {
    0% {transform: translateY(30VH);   visibility: visible; opacity:0} 
    20% {opacity:0 ;}
    100% {transform: translateY(0);  visibility: visible; opacity: 0.8}
} */