.mainAnim {
    text-transform: uppercase;
    font-size:164px;background: red;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-box {
    overflow: hidden;  
}

.hero-content-1{
    animation: content-animation 4s 1 ease ;
    animation-fill-mode: forwards; 
    visibility: hidden;   
    opacity: 0.2 ;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-name {
    font-size: 80px;
    color: white;
    text-align: center;
}

@keyframes content-animation {
    0% {transform: translateY(30VH);   visibility: visible; opacity:0} 
    20% {opacity:0 ;}
    100% {transform: translateY(0);  visibility: visible; opacity: 0.8}
}